body{
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margon:0;
  background-color: #f0f0f0;
}

.gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px,1fr))
  gap: 10 px;
  width: 90%;
  max-width: 120px;
  margin: 20px auto;
}

.gallery img{
  width = 100%
  cursor: pointer;
  transition: transform 0.2s;
}
  
  .gallery img:hover{
    transform: scale(1.05);
  }

#hd-image-container{
display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background:rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
#hd-image-container img{
    max-width: 90%;
    max-height: 80%;
  }

#caption{
  color: white;
  margin-top:10px;
  font-size: 1.2rem;
  twxt-align: cente;
}
